<% layout('layouts/boilerplate') %> 
<body>
  <div class="row">
    <div class="col-8 offset-3">
      <div class="card mb-3">
        <img src="<%= book.cover %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= book.title %></h5>
          <p class="card-text"><%= book.author %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-muted">Progress:
            <div class="progress" style="display: inline-block; width: 60%; margin: 8px 5px 0px 5px;">
              <div class="progress-bar" role="progressbar" style="width: <%= parseInt((book.progress * 100)/book.page) %>%; color: black;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><%= parseInt((book.progress * 100)/book.page) %>%</div>
            </div>
            <Button class="btn btn-light" type="button" data-bs-toggle="modal" data-bs-target="#progressForm">Update</Button> 
          </li>
          <li class="list-group-item">Status: <%= book.status %> </li>
        </ul>
        <div class="card-body">
          <a href="/books/<%= book._id %>/edit" class="card-link btn btn-info">Edit</a>
          <form class="d-inline" action="/books/<%= book._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
          </form>
        </div>
        <div class="card-footer text-muted">
          <!-- Create a dynamic one (Create model with created date that take create date and today date to calculate this) -->
          Added: 11 days ago
        </div>
      </div>
    </div>
    <div class="col-8 offset-3">
      <% if (currentUser) {%> 
      <h2>Notes</h2>
      <form class="form mb-3 validated-form" action="/books/<%= book._id %>/note" method="POST" novalidate>
        <div class="mb-3">
          <label class="form-label" for="title">Title</label>
          <input class="form-control" type="text" name="note[title]" id="title">
          <label class="form-label" for="content">Notes:</label>
          <textarea class="form-control" name="note[content]" id="content" cols="50" rows="5"></textarea required>
        </div>
        <button class="btn btn-success">Submit</button>
      </form>
      <% } %> 
      <% for(let note of book.notes) { %> 
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= note.title %></h5>
            <p class="card-text">Content: <%= note.content %></p>
            <div>
              <a class="card-link btn btn-success" href="/notes/<%= note._id %>/edit">Edit</a>
              <form class="d-inline" action="/books/<%= book._id %>/notes/<%= note._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete</button>
              </form>  
            </div>  
        </div>
      </div>
      <% } %> 
    </div>
  </div>

  <!-- Popup progress form to update progress  -->
  <div class="modal fade" id="progressForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Update Progress</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         <form action="/books/<%= book.id %>/progress" method="POST" novalidate class="validated-form">
          <div class="mb-3">
            <label class="form-label" for="title">Current Progress</label>
            <input class="form-control" type="number" id="title" name="book[progress]" min="0" max="<%= book.page %>" required value="<%= book.progress %>">
          </div>
          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal" style="margin-right: 10px;">Close</button>
            <button type="submit" class="btn btn-success">Update</button>
          </div>
         </form>
        </div>    
      </div>
    </div>
  </div>
</body>
