<% layout('layouts/boilerplate') %>
<div class="container">
  <a class="btn btn-success" href="/notes/new/">New Note</a>
  
  <div class="accordion" id="accordionExample">
  <% for (const book of books) {%>
    <div class="accordion-item">
      <h2 class="accordion-header" id="<%= book.title %>">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#id<%= book._id %>" aria-expanded="true" aria-controls="id<%= book._id %>">
          <%= book.title %> 
        </button>
      </h2>
      <div id="id<%= book._id %>" class="accordion-collapse collapse" aria-labelledby="<%= book.title %>" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <% for (const note of book.notes) {%> 
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title"><%= note.title %></h5>
                <p class="card-text"><%= note.content %> </p>
                <a href="/notes/<%= note._id %>" class="btn btn-primary card-link">View</a>
              </div>
            </div>
          <% } %> 
        </div>
      </div>
    </div>
    <% } %>  
  </div>
</div>
